on:
  repository_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@master
      - name: Publish
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          secrets: |
              TOKEN
        env:
            CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
            TOKEN: ${{ secrets.TOKEN }}
